{{ if .IsHome }}
  <nav class="db dt-l w-100 border-box pa3 ph5-l fixed z-max dn-ns">
    <a class="toggle-button toggle-button-home dn-ns w-10 f2 fw1 tl fl white">☰</a>
    <a class="db dtc-l v-mid mid-gray link dim w-80 w-25-l tc tl-l mb2 mb0-l fl" href="/" title="Home">
      <img src="/images/cropped-trans-logo-white.png" class="dib w-100 dn-ns" alt="Site Name">
    </a>
  </nav>
{{ else }}
  <nav class="logo-here db dt-l w-100 border-box pa3 ph5-l z-max fixed">
    <a class="toggle-button dn-ns w-10 f2 fw1 tl fl">☰</a>
    <a class="db w-80 v-mid mid-gray link dim tc tl-l mb2 mb0-l fl" href="/" title="Home">
      {{ if isset .Params "thumbnail" }}
        <img src="/images/cropped-trans-logo-white.png" class="dib w-100 w-33-ns w-50-m logo fl" alt="Site Name">
      {{ else }}
        <img src="/images/cropped-trans-logo.png" class="dib w-100 w-33-ns w-50-m logo fl" alt="Site Name">
      {{ end }}
    </a>
  </nav>
{{ end }}