{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
  <script src="/js/siema.min.js"></script>
  <script src="/js/sticky.min.js"></script>
  <script>
    var sticky = new Sticky('#sticky-this', {
      stickyWrap: true,
      stickyClass: 'small-sticky'
    });
    console.log(sticky);
  </script>
  <script>
    const mySiema = new Siema({
      loop: true,
      selector: '.siema',
      duration: 500,
      easing: 'ease-out',
    });
    setInterval(() => mySiema.next(), 6700)
  </script>
{{ end }}
