{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
  <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
  <script src="/js/siema.min.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/sticky.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  
  <script>
    // Start midnight
    $(document).ready(function(){

        $(window).scroll(function(){
          // Bottom right sticky menu switching
          // Only trigger if there is an element named .light-section on the page
          if ($('.light-section').length) {
            let section_position = $('.light-section').offset().top + 200;
            let section_height = $('.light-section').height();
            let menu_position = $('.bottom-right').offset().top;

            if (menu_position > section_position && menu_position < (section_position + section_height)) {
              $('.bottom-right').addClass('dark-text');
              $('.bottom-right').removeClass('light-text');
            }
            else {
              $('.bottom-right').removeClass('dark-text');
              $('.bottom-right').addClass('light-text');
            }

            // Logo switching
            let logo_position = $('.logo-here').offset().top;

            if (logo_position > section_position && logo_position < (section_position + section_height)) {
              // Switch to dark logo
              console.log('dark');
              $(".logo-here img").attr("src","/images/cropped-trans-logo.png");
            } else {
              // Switch to light logo
              console.log('special');
              $(".logo-here img").attr("src","/images/cropped-trans-logo-white.png");
            }
          }
        })

        $(window).scroll(function() {
          // Logo on list page switching
          // Only trigger if there is a .special-light-section element on the page (should only exist on projects page)
          if ($('.special-light-section').length) {
            let special_section_position = $('.special-light-section').offset().top;
            let special_section_height = $('.special-light-section').height();
            let logo_position = $('.logo-here').offset().top;

            if (logo_position < special_section_position && logo_position < (special_section_position + special_section_height)) {
              // Switch to dark logo
              $(".logo-here img").attr("src","/images/cropped-trans-logo.png");
            } else {
              // Switch to light logo
              $(".logo-here img").attr("src","/images/cropped-trans-logo-white.png");
            }
          }
        })
    })
    var sticky = new Sticky('#sticky-this', {
      stickyWrap: true,
      stickyClass: 'small-sticky'
    });
    // var sideSticky = new Sticky('.side-nav', {
    //   stickyWrap: true,
    //   stickyClass: 'side-sticky'
    // });
  </script>
  <script>
    // const mySiema = new Siema({
    //   loop: true,
    //   selector: '.siema',
    //   duration: 500,
    //   easing: 'ease-out',
    // });
    // setInterval(() => mySiema.next(), 6700)

  </script>
  <script>
  // Project Page Slider
    const projectSiema = new Siema({
      loop: true,
      selector: '.pg-siema',
      duration: 500,
      easing: 'ease-out',
    });
    setInterval(() => projectSiema.next(), 6700);

    const prev = document.querySelector('.prev');
    const next = document.querySelector('.next');

    prev.addEventListener('click', () => {
      projectSiema.prev(1)
    });
    next.addEventListener('click', () => {
      projectSiema.next(1)
    });
  </script>

  <script>
    var mixer = mixitup('.filter-container', {
      "animation": {
        "duration": 250,
        "nudge": false,
        "reverseOut": false,
        "effects": "fade",
      },
      layout: {
        containerClassName: 'portfolio-filter'
      }
    });
  </script>

  <script>
  $(document).ready(function(){
    // $('.siema').slick({
    //   slidesToScroll: 1,
    //   dots: false,
    //   prevArrow: false,
    //   nextArrow: false,
    //   useTransform: true,
    //   cssEase: 'linear',
    //   speed: 4000,
    //   autoplay: true,
    //   autoplaySpeed: 4000,
    //   fade: true,
    //   infinite: true
    // });
      var $slideshow = $('.siema');
      var ImagePauses = [4000, 300, 4000, 300, 4000, 300, 4000, 300, 4000, 300, 4000, 300, 4000, 300, 4000, 300];

      // Init
      $slideshow.slick({
        initialSlide: 0,
        autoplay: true,
        autoplaySpeed: ImagePauses[0],
        dots: false,
        arrows: false,
        speed: 1250,
        fade: true
      });

      // Sliding settings
      $slideshow.on('afterChange', function(event, slick, currentSlide) {
        // Console log, can be removed
        console.log('Current slide: ' + currentSlide + '. Setting speed to: ' + ImagePauses[currentSlide]);

        // Update autoplay speed according to slide index
        $slideshow.slick('slickSetOption', 'autoplaySpeed', ImagePauses[currentSlide], true);

      });
  });
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });

  // Toggle button
  document.querySelector('.toggle-button').addEventListener('click', function() {
    slideout.toggle();
  });
  </script>
{{ end }}
