{{ define "main" }}
  <div class="bg-black siema">
    {{ range (where .Data.Pages "Section" "in" "projects") }}
          {{ if (eq .Params.featured true) }}
            <div class="overlay-container">
              <a href="{{ .Permalink }}">
                <div class="vh-75 vh-100-ns cover bg-center htc" style="opacity:1; background-image: url({{- .Params.thumbnail -}}); background-attachment: fixed;"></div>
              </a>
            </div>
            <div class="overlay-container">
              <a href="{{ .Permalink }}">
                <div class="vh-75 vh-100-ns cover bg-center htc" style="opacity:1; background-color: black; background-attachment: fixed;"></div>
              </a>
            </div>
          {{ end }}
    {{ end }}
  </div>
  <div class="bottom-left">
      <a href="/"><img src="/images/cropped-trans-logo-white.png" class="dn dib-ns w-60 w-40-l z-max" id="sticky-this" alt="Carlos Mata Architecture"></a>
  </div> 
     
  <article class="cf">
    <div class="pv3 ph2 pl4-ns">
      <div class="w-100 w-100-ns fix-grid">
        {{ range where .Data.Pages.ByWeight "Section" "in" (slice "projects") | first 5 }}
          {{ if not (eq .Params.featured true) }}  
            <div class="fl w-100 w-50-ns pr4-ns pv2 pv3-ns fix-grid-item">
                <a href="{{ .Permalink }}" style="background-image: url({{ .Params.thumbnail }});" class="link h4 dt hide-child w-100 cover bg-center">
                  <span class="white dtc v-mid w-100 h-100 child bg-black-40 pv6 pv7-ns tc ttu tracked-mega fw4 f3">
                    {{ .Title }}
                  </span>
                </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>    
    <!-- <div class="tc pa2">
        <a class="f2 fw1 link no-underline black" href="/projects">View All Projects + </a> 
      </div> -->
  </article>
  <article class="cf pa2 pt5-ns">
    <div class="pa0">
      <div class="fl w-100 w-25-ns ph4 pa4-ns">
          <p class="tl f2 f1-ns fw1 pb4 pb0-ns b--black-60 pb4-ns bb tracked black-80 tc ttu">Carlos Mata</p>
      </div>
      <div class="fl w-100 w-75-ns pa4 pt0 black-90 ">
          <p class="pt0 mt0  tl f4 f2-ns fw3 ">He has given lectures all over the world, and has received significant recognition like the Torroja Award for his Caja Granada or the Award of the UPM University for his Excellence in Teaching. In 2013 he was awarded the Heinrich Tessenow Gold Medal, the Arnold W. Brunner Memorial Prize of the American Academy of Arts and Letters, the International Award Architecture in Stone in Verona, and the RIBA International Fellowship 2014 of the Royal Institute of British Architects. Also in 2014 he was elected Full Member to the Royal Academy of Fine Arts of San Fernando of Spain. </p>
      </div>
    </div>
  </article>
{{ end }}