{{ define "main" }}
<article class="cf pa2 pa0-ns">
    <div class="pa4 htc">
      <div class="w-100 w-100-ns fix-grid">
        {{ range where .Data.Pages.ByWeight "Section" "in" (slice "projects") }}
            <div class="fl w-50 w-50-ns pa1 fix-grid-item">
                <a href="{{ .Permalink }}" class="dim db no-underline black shadow-5"><img class="db w-100" src="{{ .Params.thumbnail }}"></a>
                <a href="{{ .Permalink }}" class="dim db no-underline black ttu tracked-mega fw1 f4 tc pa4">{{ .Title }}</a>
            </div>
        {{ end }}
      </div>
    </div>    
  </article>
{{ end }}
