{{ define "main" }}
<article class="cf  pa4 pa0-ns pt5-ns">
    <div class="pv4 pl4">
      <div class="w-100 w-100-ns fix-grid">
        {{ range where .Data.Pages.ByWeight "Section" "in" (slice "projects") }}
          <div class="fl w-100 w-50-ns pr4-ns pv3 fix-grid-item">
              <a href="{{ .Permalink }}" style="background-image: url({{ .Params.thumbnail }});" class="link h4 dt hide-child w-100 cover bg-center">
                <span class="white dtc v-mid w-100 h-100 child bg-black-40 pv7 tc ttu tracked-mega fw4 f4">
                  {{ .Title }}
                </span>
              </a>
          </div>
        {{ end }}
      </div>
    </div>    
  </article>
{{ end }}
