{{ define "main" }}
<div class="relative">
    <div class="bg-white pg-siema">
      <div class="overlay-container">
          <div class="vh-75 vh-100-ns cover bg-center htc" style="opacity:1; background-image:  linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0.35)),url({{- .Params.thumbnail -}}); background-attachment: fixed;"></div>
      </div>
      {{ range .Params.gallery }}
        <div class="overlay-container">
            <div class="vh-75 vh-100-ns cover bg-center htc" style="opacity:1; background-image:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0.35)), url({{- .imgSrc -}}); background-attachment: fixed;"></div>
        </div>
      {{ end }}
    </div>
    <a href="#" class="white absolute left-2  prev"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
    <a href="#" class="white absolute right-2  next"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
    <h1 class="avenir f1 fw2 white absolute bottom-1 left-2-ns tc">{{- .Title -}}</h1>
</div>
  
  <article class="bg-white">
      <article class="bg-white">
        <div class="ph4 ph5-m ph6-l">
          <div class="pv2 pv5-ns f4 f2-ns measure center">
            <div class="avenir db lh-copy black serif fw1 mv0 f4 f3-m f2-l measure">
                {{- .Content | markdownify -}}
            </div>
             
          </div>
        </div>
      </article>
  </article>
{{ end }}